In [ ]:
#Write a Python program to get the largest number from a list
def max_num_in_list (list):
  max = list[0]
  for a in list:
    if a > max:
      max = a
  return max
print(max_num_in_list([1,2,-4,0]))

2

In [ ]:
import

In [ ]:
x =[2,3,5,7,9]
x

[2, 3, 5, 7, 9]

In [ ]:
min(x)

2

In [ ]:
#Write a Python program to get the smallest number from a list
def min_num_in_list(list):
  min = list[0]
  for a in list:
    if a < min:
      min = a
  return min
print(min_num_in_list([1,2,-4,0]))

-4

In [ ]:
# Write a Python script to add a key to a dictionary.
d = {0:10, 1:20}
print(d)
d.update({2:30})
print(d)

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 30}

In [ ]:
#merge two pyhton dict
x1 = {"c":20, "b":15}
x2 = {"z":10, "y":30}
x = x1.copy()
x.update(x2)
print(x)

{'c': 20, 'b': 15, 'z': 10, 'y': 30}

In [ ]:
#Write a Python program to remove a key from a dictionary
mykey = {"z": 1000, "y": 2000, "a":4000,"d":5000}
print(mykey)
if "z" in mykey:
  del mykey["z"]
print (mykey)

{'z': 1000, 'y': 2000, 'a': 4000, 'd': 5000}
{'z': 1000, 'a': 4000, 'd': 5000}

In [ ]:
#Write a Python program to convert a list to a tuple.
list1 = [50,100,200,300,400,500]
print(list1)
tuplex= tuple(list1)
print(tuplex)

[50, 100, 200, 300, 400, 500]
(50, 100, 200, 300, 400, 500)

In [ ]:
new_list = list(tuplex)
print(new_list)

[50, 100, 200, 300, 400, 500]